# H1 : Data Science Tolls and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular langauges that Data Scientists use are :
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplot

|Data Science Tools|
|------------------|
|RStudio|
|GitHub|
|Anaconda|

### H3 :Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [15]:
minutes= int(input("Enter in minutes "))
#This will convert 200 minutes to hours by diving by 60
hours= minutes /60 
print(hours)

Enter in minutes  200

3.3333333333333335

## H2 :Author
Ankith